.card{
    padding: 10px;
    margin: auto;
}
.btn{
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 10px;
}
.container{
    text-align: center;
}
.bg{
    text-align: left;
}